.events__list-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid rgb(0, 17, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.events__list-item h1 {
  margin: 0;
  font-size: 1.2rem;
  color: rgb(0, 17, 255);
}

.events__list-item h2 {
  margin: 0;
  font-size: 1rem;
  color: grey;
}

.events__list-item p {
  margin: 0;
}